/grab_result_image.png
/GrabbedImage.png
/MandelbrotFractal.bmp
/MandelbrotFractal.tiff
/MandelbrotFractal_0.jpg
/MandelbrotFractal_100.jpg
/MandelbrotFractal_from_array.png
/grayscale_image.png
/utility_image_saved.tiff
*.png
